.image-2-parent,
.mask-group-icon,
.vector-parent{
  margin: 0 10% 0 10%;
}

.image-2-icon {
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.all-product,
.image-2-icon {
  position: relative;
}
.all-product-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 38px;
}
.frame-child {
  position: relative;
  width: 28px;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent,
.image-2-parent {
  display: flex;
  flex-direction: row;
}
.frame-parent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.image-2-parent {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 15px var(--padding-281xl);
  align-items: center;
  justify-content: space-between;
}
.mask-group-icon {
  position: relative;
  height: auto;
  width: 476px;

}
.iperespresso {
  font-weight: 300;
}
.iperespresso,
.savor-a-smooth,
.y33-espresso {
  position: relative;
  line-height: 137.19%;
}
.y33-espresso {
  font-size: var(--font-size-5xl);
  font-family: var(--font-fahkwang);
}
.savor-a-smooth {
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 428px;
}
.frame-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.view-more {
  position: relative;
  line-height: 137.19%;
}
.vector-icon {
  position: relative;
  width: 23px;
  height: 7.36px;
}
.view-more-parent {
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-6xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  font-size: var(--font-size-xs);
}
.frame-group {
  gap: 19px;
}
.frame-group,
.frame-wrapper,
.mask-group-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.mask-group-parent {
  align-self: stretch;
  height: 740px;
  flex-direction: row;
  padding: 0 300px 0 300px;
  box-sizing: border-box;
  align-items: center;
  gap: 258px;
  background-image: url(./public/Frame\ 11.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  mix-blend-mode: multiply;
  font-size: var(--font-size-lg);
}
.ellipse-div,
.frame-child1 {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-firebrick);
  width: 8px;
  height: 8px;
}
.frame-child1 {
  background-color: var(--color-silver-100);
}
.best-seller-parent,
.ellipse-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.best-seller-parent {
  align-items: center;
  gap: var(--gap-xl);
  margin: 0 0 0 10%;
}
.frame-child3,
.image-20-icon {
  position: relative;
  width: 16px;
  height: 30px;
}
.image-20-icon {
  width: 216px;
  height: 284px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.francis-francis-for,
.iperespresso1 {
  position: relative;
  line-height: 137.19%;
}
.iperespresso1 {
  font-size: var(--font-size-xs);
  font-weight: 300;
  color: var(--color-black);
}
.francis-francis-for {
  display: flex;
  align-items: center;
  width: 279px;
}
.image-20-parent,
.iperespresso-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.image-20-parent {
  align-items: center;
  gap: var(--gap-7xl);
}
.image-25-icon {
  position: relative;
  width: 228px;
  height: 298px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.image-23-icon,
.image-24-icon {
  position: relative;
  width: 208px;
  height: 290px;
  object-fit: cover;
}
.image-24-icon {
  width: 223px;
  height: 307px;
  mix-blend-mode: multiply;
}
.frame-div,
.vector-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.vector-parent {
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray);
  font-family: var(--font-roboto);
}
.frame-div {
  background-color: var(--color-white);
  height: 610px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-49xl) var(--padding-281xl);
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-29xl);
  font-size: var(--font-size-5xl);
  font-family: var(--font-fahkwang);
}
.sustainability {
  position: relative;
  line-height: 162.69%;
}
.sustainability-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.we-are-contributing {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 162.69%;
  display: flex;
  align-items: center;
  width: 444px;
}
.discover-more-parent {
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-6xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.frame-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 27px;
  margin: 0 0 0 10%;
}
.jen-p-fog8lotg7aa-unsplash-1-icon {
  position: relative;
  width: 675px;
  height: 460px;
  object-fit: cover;
}
.frame-parent1 {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-49xl) var(--padding-281xl);
  align-items: center;
  gap: 213px;
  background-image: url(./public/Frame\ 22.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame-parent1,
.frame-wrapper1,
.promotions-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.promotions-parent {
  align-items: center;
  gap: 13px;
}
.frame-wrapper1 {
  align-items: flex-start;
}
.frame-child9 {
  position: relative;
  width: 9.5px;
  height: 17.5px;
}
.frame-parent5,
.view-more-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.view-more-group {
  align-items: center;
  gap: var(--gap-xs);
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
  font-family: var(--font-roboto);
}
.frame-parent5 {
  align-items: flex-end;
  gap: 1002px;
}
.image-31-icon,
.image-32-icon,
.image-33-icon,
.image-34-icon,
.mask-group-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 558px;
  height: 234px;
  object-fit: cover;
}
.image-31-icon,
.image-32-icon,
.image-33-icon,
.image-34-icon {
  width: 9px;
}
.image-32-icon,
.image-33-icon,
.image-34-icon {
  left: 9px;
}
.image-33-icon,
.image-34-icon {
  left: 18px;
}
.image-34-icon {
  left: 27px;
}
.group-child,
.image-31-parent {
  position: absolute;
  top: 0;
  left: 540px;
  width: 36px;
  height: 234px;
}
.group-child {
  left: 0;
  background: linear-gradient(90deg, #b4b7c5, rgba(185, 187, 201, 0));
  width: 576px;
}
.learn-more {
  position: absolute;
  top: 170px;
  left: 42px;
  line-height: 137.19%;
}
.group-item {
  position: absolute;
  top: 164px;
  left: 32px;
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 113px;
  height: 28px;
}
.group-inner {
  position: absolute;
  top: 175.32px;
  left: 110.5px;
  width: 23px;
  height: 7.36px;
}
.enjoy-20-savings,
.illy-a-casa {
  position: absolute;
  left: 32px;
  line-height: 137.19%;
}
.enjoy-20-savings {
  top: 69px;
  font-size: var(--font-size-lg);
  display: flex;
  font-family: var(--font-fahkwang);
  align-items: center;
  width: 246px;
}
.illy-a-casa {
  top: 47px;
}
.mask-group-group {
  position: relative;
  width: 576px;
  height: 234px;
}
.group-child1,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ebe8e3;
  width: 576px;
  height: 234px;
}
.group-child1 {
  top: 179px;
  background-color: #e0ddd8;
  height: 55px;
}
.buy-now {
  position: absolute;
  top: 170px;
  left: 40px;
  line-height: 137.19%;
}
.group-child2 {
  position: absolute;
  top: 164px;
  left: 30px;
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 98px;
  height: 28px;
}
.group-child3 {
  position: absolute;
  top: 175.32px;
  left: 95.5px;
  width: 23px;
  height: 7.36px;
}
.classico-cold-brew,
.red-white-and {
  position: absolute;
  left: 30px;
  line-height: 137.19%;
}
.red-white-and {
  top: 73px;
  font-size: var(--font-size-lg);
  display: flex;
  font-family: var(--font-fahkwang);
  align-items: center;
  width: 274px;
}
.classico-cold-brew {
  top: 47px;
}
.image-26-icon,
.image-27-icon,
.image-28-icon {
  position: absolute;
  top: 33px;
  left: 439px;
  width: 105px;
  height: 182px;
  object-fit: cover;
}
.image-26-icon,
.image-28-icon {
  left: 312px;
}
.image-26-icon {
  top: 23px;
  left: 369px;
  width: 118px;
  height: 202px;
}
.image-35,
.image-36-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 576px;
  height: 234px;
  opacity: 0.2;
  mix-blend-mode: multiply;
}
.image-36-icon {
  object-fit: cover;
  opacity: 0.6;
}
.frame-wrapper2,
.vector-group {
  width: 1320px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.vector-group {
  align-items: center;
  gap: 46px;
}
.frame-wrapper2 {
  align-items: flex-start;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
}
.frame-parent4,
.frame-parent7,
.promotions-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent4 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-49xl) var(--padding-281xl);
  gap: var(--gap-29xl);
  font-size: var(--font-size-5xl);
  font-family: var(--font-fahkwang);
}
.frame-parent7,
.promotions-wrapper {
  flex-direction: row;
}
.frame-parent7 {
  gap: 1065px;
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 314.77px;
  height: 280px;
  object-fit: cover;
}
.group-child4,
.group-child5,
.group-child6,
.group-child7 {
  position: absolute;
  top: 280px;
  left: 0;
  background-color: var(--color-white);
  width: 314.77px;
  height: 134px;
}
.group-child5,
.group-child6,
.group-child7 {
  left: 335.08px;
}
.group-child6,
.group-child7 {
  left: 670.15px;
}
.group-child7 {
  left: 1005.23px;
}
.group-child10,
.group-child8,
.group-child9 {
  position: absolute;
  top: 0;
  left: 335.08px;
  width: 314.77px;
  height: 280px;
  object-fit: cover;
}
.group-child10,
.group-child9 {
  left: 670.15px;
}
.group-child10 {
  left: 1005.23px;
}
.i-alternate-between {
  position: absolute;
  top: 322px;
  left: 16.92px;
  line-height: 137.19%;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 284.31px;
}
.not-too-strong {
  margin: 0;
}
.not-too-strong-container1 {
  line-break: anywhere;
  width: 100%;
}
.after-a-few,
.not-too-strong-container {
  top: 322px;
  font-weight: 300;
  width: 284.31px;
}
.not-too-strong-container {
  position: absolute;
  left: 352px;
  line-height: 137.19%;
  display: flex;
  align-items: center;
}
.after-a-few {
  left: 687.08px;
}
.after-a-few,
.arabica-has-a,
.sd2 {
  position: absolute;
  line-height: 137.19%;
  display: flex;
  align-items: center;
}
.arabica-has-a {
  top: 322px;
  left: 1022.15px;
  font-weight: 300;
  width: 284.31px;
}
.sd2 {
  left: 14.66px;
}
.dfw,
.sd2,
.suz {
  top: 386px;
  color: var(--color-gray-100);
  text-align: right;
  width: 284.31px;
}
.dfw {
  position: absolute;
  left: 349.74px;
  line-height: 137.19%;
  display: flex;
  align-items: center;
}
.suz {
  left: 684.82px;
}
.brasile-is-smooth,
.delicious,
.fms,
.great-coffee,
.sixteen-year-illy,
.suz {
  position: absolute;
  line-height: 137.19%;
  display: flex;
  align-items: center;
}
.fms {
  top: 386px;
  left: 1019.9px;
  color: var(--color-gray-100);
  text-align: right;
  width: 284.31px;
}
.brasile-is-smooth,
.delicious,
.great-coffee,
.sixteen-year-illy {
  top: 296px;
  left: 16.92px;
  font-size: var(--font-size-sm);
  width: 297.85px;
}
.brasile-is-smooth,
.delicious,
.sixteen-year-illy {
  left: 352px;
}
.brasile-is-smooth,
.sixteen-year-illy {
  left: 687.08px;
}
.sixteen-year-illy {
  left: 1022.15px;
}
.group-child11,
.group-icon {
  width: 9.67%;
  top: 92.75%;
  bottom: 3.62%;
}
.group-icon {
  position: absolute;
  height: 3.62%;
  right: 89.22%;
  left: 1.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child11 {
  right: 63.84%;
  left: 26.5%;
}
.group-child11,
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: 3.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  width: 1.35%;
  top: 92.9%;
  right: 46.72%;
  bottom: 3.48%;
  left: 51.94%;
  border-radius: var(--br-12xs-5);
}
.vector-icon2 {
  right: 44.64%;
  left: 54.02%;
}
.vector-icon2,
.vector-icon3,
.vector-icon4 {
  width: 1.35%;
  top: 92.9%;
  bottom: 3.48%;
  border-radius: var(--br-12xs-5);
}
.vector-icon3 {
  position: absolute;
  height: 3.62%;
  right: 42.56%;
  left: 56.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon4 {
  right: 40.48%;
  left: 58.18%;
}
.group-child12,
.vector-icon4,
.vector-icon5 {
  position: absolute;
  height: 3.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon5 {
  width: 1.35%;
  top: 92.9%;
  right: 38.4%;
  bottom: 3.48%;
  left: 60.26%;
  border-radius: var(--br-12xs-5);
}
.group-child12 {
  width: 9.67%;
  top: 92.75%;
  right: 77.27%%;
  bottom: 3.62%;
  left: 13.07%;
}
.rectangle-group {
  position: relative;
  width: 1320px;
  height: 414px;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray);
  font-family: var(--font-roboto);
}
.frame-parent6 {
  align-self: stretch;
  background-color: #b6b5b2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-49xl) var(--padding-281xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  font-size: var(--font-size-5xl);
  font-family: var(--font-fahkwang);
}
.coffee-machines,
.coffee1,
.illy-art-collection1,
.products {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  height: 10px;
}
.products {
  bottom: 296px;
  color: var(--color-gray-300);
  width: 81.36px;
}
.coffee-machines,
.coffee1,
.illy-art-collection1 {
  bottom: 261px;
  width: 46.85px;
}
.coffee-machines,
.illy-art-collection1 {
  bottom: 234px;
  width: 119.58px;
}
.illy-art-collection1 {
  bottom: 206px;
  width: 118.35px;
  height: 11px;
}
.about-us,
.coffee-growers,
.illy,
.legal-notes {
  position: absolute;
  left: 245.33px;
  display: flex;
  align-items: center;
  height: 10px;
}
.about-us {
  bottom: 296px;
  color: var(--color-gray-300);
  width: 76.43px;
}
.coffee-growers,
.illy,
.legal-notes {
  bottom: 261px;
  width: 18.49px;
}
.coffee-growers,
.legal-notes {
  left: 531.34px;
  width: 109.72px;
}
.legal-notes {
  left: 1015.83px;
  width: 85.06px;
}
.good-for-the,
.illycaff-history,
.privacy,
.research-innovation,
.sustainable-projects {
  position: absolute;
  bottom: 234px;
  left: 245.33px;
  display: flex;
  align-items: center;
  width: 109.72px;
  height: 10px;
}
.good-for-the,
.privacy,
.research-innovation,
.sustainable-projects {
  left: 531.34px;
  width: 179.99px;
}
.privacy,
.research-innovation,
.sustainable-projects {
  left: 1015.83px;
  width: 51.78px;
}
.research-innovation,
.sustainable-projects {
  bottom: 206px;
  left: 245.33px;
  width: 156.57px;
  height: 11px;
}
.sustainable-projects {
  left: 531.34px;
  width: 144.24px;
}
.ernesto-illy-foundation,
.ernesto-illy-international,
.gruppo-illy {
  position: absolute;
  bottom: 179px;
  left: 245.33px;
  display: flex;
  align-items: center;
  width: 159.03px;
  height: 11px;
}
.ernesto-illy-international,
.gruppo-illy {
  left: 531.34px;
  width: 265.05px;
}
.gruppo-illy {
  bottom: 152px;
  left: 245.33px;
  width: 73.97px;
  height: 10px;
}
.coffee-distributors,
.global1,
.premio-ernesto-illy,
.press,
.thanks4thecoffee {
  position: absolute;
  bottom: 152px;
  left: 531.34px;
  display: flex;
  align-items: center;
  width: 134.38px;
  height: 10px;
}
.coffee-distributors,
.global1,
.premio-ernesto-illy,
.press {
  bottom: 125px;
  left: 245.33px;
  width: 131.91px;
}
.global1,
.premio-ernesto-illy,
.press {
  left: 531.34px;
  width: 130.68px;
}
.global1,
.press {
  bottom: 97px;
  left: 245.33px;
  width: 39.45px;
  height: 11px;
}
.global1 {
  bottom: 38px;
  left: 17.26px;
  width: 65.34px;
}
.procurement-portal {
  letter-spacing: 0.01em;
}
.illycaff-spa-l,
.site-use,
.sustainability1,
.sustainable-products,
.work-with-us-container {
  position: absolute;
  bottom: 19px;
  left: 0;
  display: flex;
  align-items: center;
  width: 330.39px;
  height: 11px;
}
.illycaff-spa-l,
.site-use,
.sustainability1,
.sustainable-products {
  bottom: 0;
  width: 765.57px;
}
.site-use,
.sustainability1,
.sustainable-products {
  bottom: 97px;
  left: 531.34px;
  width: 150.4px;
}
.site-use,
.sustainability1 {
  bottom: 296px;
  color: var(--color-gray-300);
  width: 123.28px;
  height: 10px;
}
.site-use {
  left: 1015.83px;
  width: 65.34px;
}
.group-child13 {
  position: absolute;
  bottom: 2.66px;
  left: calc(50% + 598.4px);
  width: 28px;
  height: 28px;
}

.group-child16,
.group-child15,
.group-child14,
.group-child13,
.group-child17{
  width: 28px;
  height: 28px;
}

.group-child14,
.group-child15,
.group-child16,
.group-child17 {
  position: absolute;
  bottom: 2.66px;
  left: calc(50% + 564.8px);
  width: 28px;
  height: 28px;
}
.group-child15,
.group-child16,
.group-child17 {
  left: calc(50% + 531.2px);
}
.group-child16,
.group-child17 {
  left: calc(50% + 497.6px);
}
.group-child17 {
  left: calc(50% + 632px);
}
.group-child18 {
  position: absolute;
  bottom: 38px;
  left: 0;
  width: 12.33px;
  height: 10px;
}
.products-parent {
  position: relative;
  width: 1320px;
  height: 306px;
}
.desktop-4,
.desktop-4-inner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.desktop-4-inner {
  align-self: stretch;
  background-color: #ddd7d4;
  padding: var(--padding-49xl) var(--padding-281xl);
  align-items: center;
  color: var(--color-gray-200);
}
.desktop-4 {
  position: relative;
  background: linear-gradient(
      rgba(243, 239, 236, 0.3),
      rgba(243, 239, 236, 0.3)
    ),
    #fff;
  width: 100%;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
